.theme-light {
  --primary-color: hsl(216deg 79% 53% / 100%);
  --primary-color-1: hsl(216deg 79% 53% / 10%);
  --primary-color-2: hsl(216deg 79% 53% / 20%);
  --primary-color-3: hsl(216deg 79% 53% / 30%);
  --primary-color-4: hsl(216deg 79% 53% / 40%);
  --primary-color-5: hsl(216deg 79% 53% / 50%);
  --primary-color-6: hsl(216deg 79% 53% / 60%);
  --primary-color-7: hsl(216deg 79% 53% / 70%);
  --primary-color-8: hsl(216deg 79% 53% / 80%);
  --primary-color-9: hsl(216deg 79% 53% / 90%);
  --error-color: hsl(11deg 100% 59% / 100%);
  --error-color-1: hsl(11deg 100% 59% / 10%);
  --error-color-2: hsl(11deg 100% 59% / 20%);
  --error-color-3: hsl(11deg 100% 59% / 30%);
  --error-color-6: hsl(11deg 100% 59% / 60%);
  --error-color-8: hsl(11deg 100% 59% / 80%);
  --succeed-color: hsl(155deg 54% 46% / 100%);
  --succeed-color-1: hsl(155deg 54% 46% / 10%);
  --succeed-color-2: hsl(155deg 54% 46% / 20%);
  --excel-color: hsl(146deg 48% 49% / 100%);
  --excel-color-1: hsl(146deg 48% 49% / 10%);
  --excel-color-2: hsl(146deg 48% 49% / 20%);
  --text-title: hsl(240deg 3% 12%);
  --text-normal: hsl(240deg 2% 32% / 100%);
  --text-secondary: hsl(240deg 2% 54% / 100%);
  --text-placeholder: hsl(216deg 23% 74% / 100%);
  --text-btn: hsl(0deg 0% 100% / 100%);
  --text-link: hsl(216deg 79% 53% / 100%);
  --text-menu: hsl(216deg 19% 66% / 100%);
  --components-hover: hsl(220deg 62% 55% / 80%);
  --components-click: hsl(220deg 49% 44% / 60%);
  --components-active: hsl(216deg 79% 53% / 100%);
  --bg-primary: hsl(0deg 0% 100% / 100%);
  --bg-secondary: hsl(225deg 40% 98% / 100%);
  --bg-final: hsl(220deg 100% 99% / 100%);
  --bg-header: hsl(216deg 20% 96% / 100%);
  --bg-bg: hsl(220deg 100% 99% / 100%);
  --bg-minor: hsl(216deg 20% 95% / 100%);
  --bg-tip: hsl(216deg 70% 30% / 100%);
  --bg-shadows: 2px 0 4px rgb(27 95 196 / 10%);
  --bg-shadows-tabs: 0 0 10px 0 hsl(216deg 76% 44% / 10%);
  --bg-green: hsl(146deg 48% 49% / 5%);
  --border-primary: hsl(216deg 79% 93% / 100%);
  --border-secondary: hsl(222deg 33% 94% / 100%);
  --border-hover: hsl(216deg 79% 53% / 80%);
  --disable-text: hsl(220deg 11% 78% / 100%);
  --disable-primary: hsl(216deg 33% 97% / 100%);
  --disable-secondary: hsl(222deg 17% 88% / 100%);
  --table-header: hsl(216deg 79% 53% / 10%);
  --table-primary: hsl(0deg 0% 100% / 100%);
  --table-secondary: hsl(216deg 79% 53% / 8%);
  --table-minor: hsl(240deg 20% 99% / 100%);
  --white: hsl(0deg 0% 100% / 100%);
  --grey: hsl(220deg 4% 58% / 100%);
  --red: hsl(0deg 94% 66% / 100%);
  --green: hsl(155deg 54% 46% / 100%);
  --orange: hsl(40deg 100% 50% / 100%);
  --purple: hsl(249deg 46% 54% / 100%);
  --opacity: hsl(0deg 0% 0% / 0%);
  --button-default-color: var(--primary-color);
  --button-default-click-color: var(--primary-color-6);
  --button-default-hover-color: var(--primary-color-8);
  --button-default-disabled-color: var(--disable-primary);
  --button-default-text-color: var(--white);
  --button-default-text-disabled-color: var(--disable-text);
  --button-default-text-hover-color: var(--white);
  --button-ghost-color: var(--opacity);
  --button-ghost-border-color: var(--primary-color);
  --button-ghost-hover-color: var(--primary-color-4);
  --button-ghost-text-color: var(--primary-color);
  --button-ghost-text-disabled-color: var(--disable-text);
  --button-ghost-disabled-color: var(--disable-secondary);
  --button-ghost-disabled-border-color: var(
    --disable-primary
  );
  --button-ghost-text-hover-color: var(--primary-color);
  --button-group-color: var(--opacity);
  --button-group-hover-color: var(--primary-color-8);
  --button-group-disabled-color: var(--disable-primary);
  --button-group-text-color: var(--white);
  --select-text-color: var(--text-normal);
  --select-text-hover-color: var(--primary-color);
  --select-dropdown-bg-color: var(--bg-bg);
  --select-dropdown-bg-hover-color: var(
    --primary-color-2
  );
  --table-head-bg-color: var(--table-header);
  --table-primary-bg-color: var(--table-primary);
  --table-secondary-bg-color: var(--table-secondary);
  --table-minor-bg-color: var(--table-minor);
  --table-color: var(--table-primary);
  --table-hover-color: var(--primary-color-2);
  --table-active-color: var(--grey);
  --table-head-text-color: var(--text-normal);
  --table-highlight-bg-color: var(--bg-header);
  --table-blue-color: var(--primary-color);
  --table-blue-bg-color: var(--primary-color-1);
  --table-green-color: var(--green);
  --table-green-bg-color: var(--bg-green);
  --aside-bg-color: var(--bg-primary);
  --aside-decorator-color: var(--border-primary);
  --aside-decorator-active-color: var(--primary-color);
  --aside-font-active-color: var(--primary-color);
  --aside-bg-active-color: var(--primary-color-1);
  --aside-collapse-bg-color: var(--bg-secondary);
  --pagination-text-color: var(--text-normal);
  --pagination-text-disable-color: var(--disable-text);
  --pagination-text-active-color: var(--white);
  --pagination-text-hover-color: var(--primary-color);
  --pagination-bg-color: var(--bg-minor);
  --pagination-bg-active-color: var(--primary-color);
  --input-color: var(--bg-bg);
  --input-border: var(--border-primary);
  --input-text-color: var(--text-normal);
  --input-text-disabled-color: var(--disable-text);
  --checkbox-color: var(--bg-bg);
  --checkbox-inner-color: var(--primary-color);
  --tabs-bg-color: var(--bg-header);
  --tabs-text-color: var(--text-title);
  --tabs-bg-active-color: var(--bg-bg);
  --tabs-text-active-color: var(--primary-color);
  --tabs-border-active-color: var(--primary-color);
  --tabs-active-color: var(--primary-color);
  --tabs-active-shadows: var(--bg-shadows-tabs);
  --sub-tabs-bg-color: var(--opacity);
  --sub-tabs-text-color: var(--text-secondary);
  --sub-tabs-text-hover-color: var(--primary-color-5);
  --sub-tabs-bg-active-color: var(--primary-color-5);
  --sub-tabs-text-active-color: var(--white);
  --date-table-weekend-color: var(--primary-color-6);
  --date-table-current-text-color: var(--white);
  --date-table-current-color: var(
    --primary-color
  );
  --date-table-bg: var(--bg-bg);
  --table-scroll-bg-color: var(--bg-header);
  --table-scroll-track-color: var(--grey);
  --arrow-color: var(--border-primary);
  --arrow-inside-color: var(--bg-primary);
  --card-header-bg: var(--bg-primary);
  --card-header-text: var(--text-title);
  --card-body-bg: var(--bg-bg);
  --card-body-text: var(--text-normal);
  --icon-normal: var(--primary-color-5);
  --icon-hover: var(--primary-color-8);
  --icon-click: var(--primary-color);
  --icon-disable: var(--primary-color-1);
}